:host {
  display: flex;
  justify-content: flex-end;
  background-color: #0e2936;
  color: var(--dnn-color-primary-contrast);
  padding: 0.8em 1em;
  gap: 1em;
  border-bottom: 1px solid #1e485e;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  svg{
    fill: var(--dnn-color-primary-contrast);
  }
}

dnn-searchbox{
  input{
    border:none;
    background-color: red!important;
  }
}
