:host {
  display: flex;
  align-items: center;
  background-color: #0e2936;
  min-height: 48px;;
}
button{
  padding:0;
  margin:0;
  background-color: transparent;
  display: flex;
  align-items: center;
  border:0;
  padding:0;
  margin:0;
  border-radius: 20px;
  cursor: pointer;
  svg{
    fill: #3c7a9a;
  }
  svg:first-child{
    background-color: #0b1c24;
    padding: 5px;
    border-radius: 20px;
  }
  span{
    padding:0 10px;
    font-weight: bold;
    color: #3c7a9a;
  }
  &:hover{
    background-color: #0b1c24;
    svg{
      fill:#FFF;
    }
    span{
      color:#FFF;
    }
  }
}
.right-controls{
  display: flex;
  margin: 0 1em;
  gap: 1em;
  .sort,.sync{
    position: relative;
    dnn-collapsible{
      position: absolute;
      top: 100%;
      right: 0;
      background-color: white;;
      &[expanded]{
        border: 1px solid lightgray;
        box-shadow: 2px 2px 4px -2px;
      }
      .dropdown{
        display: flex;
        flex-direction: column;
        background-color: white;
        button{
          background-color:transparent;
          border: none;
          padding: 0.5em 1em;
          margin: 0;
          border-bottom: 1px solid lightgray;
          white-space: nowrap;
          border-radius: 0;
          svg{
            height: 1em;
            width: 1em;
            margin-right: 0.5em;
            background: transparent;
          }
          &:hover{
            background-color: #0b1c24;
          }
        }
      }
    }
  }
  .items-count{
    padding-right: 5px;
    span{
      color: #fff;
    }
    svg{
      fill: #fff;
    }
  }
}
dnn-vertical-overflow-menu{
  flex-grow: 1;
  margin-left:24px;
  background-color: #0e2936;
  --background-color: #0e2936;
}
dnn-collapsible{
  z-index: 1;
}