:host {
  display: block;
  padding-right: 2em
}
.container{
  display: flex;
  gap: 1em;
  margin-top: 1em;
  flex-wrap: wrap;
  .card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
    border: none;
    background-color: transparent;
    transition: all 100ms ease-in-out;
    width: calc(16% - 1em);
    justify-content: flex-end;
    position: relative;
    padding: 10px;
    &:hover{
      background-color: #eee;
    }
    img{
      width: 100%;
      margin: auto;
    }
    .item-name{
      line-break: anywhere;
    }
    &.selected{
      background-color: #d7edf9;
      border-radius: 10px;
    }
  }
}
dnn-collapsible{
  position: fixed;
  display: none;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 4px -2px;
  background-color: white;
  z-index: 1;
}