:host {
  display: block;
  margin-right: 1em;
}

table{
  width: 100%;
  border-collapse: collapse;
  thead{
    font-weight: bold;
    tr{
      border-bottom: 2px solid lightgray;
      background-color: #dadada;
      td{
        padding: 8px 5px;
      }
    }
  }
  tbody{
    tr{
      border-bottom: 1px solid lightgray;
      transition: all 100ms ease-in-out;
      &:hover{
        background-color: #eee;
      }
      td{
        padding: 5px;
        &.radio{
          opacity: 0;
          transition: all 100ms ease-in-out;
        }
        img{
          height: 1.2em;
          display: block;
          margin: 0 auto;
        }
        .date{
          display: flex;
          flex-direction: column;
        }
      }
      &:hover{
        background: #eee;
        td.radio{
          opacity: 1;
        }
      }
      &.selected{
        background: #d7edf9;
        td.radio{
          opacity: 1;
        }
      }
    }
  }
}

dnn-collapsible{
  position: fixed;
  display: none;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 4px -2px;
  background-color: white;
  z-index: 1;
}