:host {
  display: block;
}

.form{
  label{
    font-weight: bold;
    margin-top: 0.5em;
  }
  display: grid;
  grid-template-columns: 1fr;
  input, select{
    padding: 5px 10px;
  }
  
}

.controls{
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
  dnn-button{
    margin: 1em;
    &.primary{
        --background-color: #1E88C3;
        --padding: 10px;
        --color: #fff;
    }
    &.secondary{
        --background-color: #fff;
        --border-color: #1E88C3;
        --color: #1E88C3;
        --padding: 10px;
    }
  }
}